@import 'tailwindcss';

@theme {
  --color-button: #c09e6a;
  --color-button-hovered: #e1d0b7;
  --color-icon: #48371e;

  --color-accent-50: rgba(247, 243, 237, 1);
  --color-accent-200: #e1d0b7;
  --color-accent-500: rgba(192, 158, 106, 1);
  --color-accent-700: #6c532d;

  --color-light-300: rgba(179, 179, 179, 1);

  --color-card: #333333;
  --color-card-stroke: #7d7d7d;
  --color-card-hover: #806d51;
}
